

/*
    内容1定位
*/
.cont01{
    position: relative;
}
.imgText{
    position: absolute;
    left: 0;
    bottom: 0;
}

.cont02_1{
    width: 80%;
    float: left;
}
.cont02_2{
    width: 20%;
    float: right;
}